@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&f[]=satoshi@300,400,500,700,900&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
}

::selection {
  background-color: #333333;
  color: #ffffff;
}

::-moz-selection {
  background-color: #333333;
  color: #ffffff;
}

/* MEDIA */
@media (max-width: 480px) {
  .animation {
    display: none;
  }
  body {
    background-color: var(--main-bg);
  }

  html.lenis {
    font-size: 9px;
  }
}

html,
body {
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
