@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&f[]=clash-grotesk@400,500,600,700&display=swap");

/* Root*/

:root {
  --main-bg: #141414;
  --border-clr: #212121;
  --block-border: #262626;
  --card-bg: #1c1c1c;
  --hover: #242424;
  --white: #d1d1d1;
  --gray: #7d7d7d;
  --line-bg: #4c4c4c;
  --card-hover-border: #2e2e2e;
  --ping-dot: #ff4b7d;
  --btn-hover-bg: #303030;
  --btn-error-bg: #3e1d22;
  --btn-error-text: #ff2244;
  --btn-success-bg: #1b3321;
  --btn-success-text: #44ff88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "General Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html.lenis {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overscroll-behavior-y: none;
}

html {
  scroll-behavior: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clash Grotesk", sans-serif;
}
